.footer{
    padding-top: 20px ;
    background-color: #1D1D1D;
    text-align: center;
    height: 200px;
    overflow-x: hidden;
}
.up-btn{
  
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}
.up-btn:hover{
    color: white;
}
.footer-icons{
    position: relative;
    left: 25px;
}