body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Oxygen','Roboto Mono', 'Oswald','Segoe UI', 'Roboto',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Akronim',
    sans-serif,'Raleway';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  max-width: 100%;
  overflow-x: hidden;
}
code {
  font-family: 'Raleway'
  , Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
